---
layout: default
---

<div class="home">

  [Bahasa Indonesia] <br/>Beberapa tautan mengenai COVID-19 di Indonesia:
  <ul>
    <li> <a href="{{ site.baseurl }}/idcovid19-mobility/"> Data mobilitas </a></li>
    <li> <a href="{{ site.baseurl }}/idcovid19/"> Kurva penyebaran </a></li>
  </ul>

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
